<br/>
<b>Minimum Balance</b>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row form-horizontal">
            <div class="example-container col-md-5">
                <mat-checkbox>
                    <h5>Balance Enforce</h5>
                </mat-checkbox>
                <br/>
                <mat-checkbox>
                    <h5>Override in Account</h5>
                </mat-checkbox>
            </div>

            <div class="example-container col-md-5 col-md-offset-2">
                <mat-form-field>
                    <input matInput placeholder="Minimum Balance">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<b>Transaction Rules</b>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row form-horizontal">
            <div class="example-container col-md-5">
                <mat-checkbox>
                    <h5>Enforce Transaction Rules</h5>
                </mat-checkbox>
                <br/>
                <mat-form-field>
                    <input matInput placeholder="Maximum Transactions Per Month">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput placeholder="Maximum Transaction Amount">
                </mat-form-field>
            </div>

            <div class="example-container col-md-5 col-md-offset-2">
                <mat-form-field>
                    <input matInput placeholder="Maximum Transactions Per Month">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput placeholder="Maximum Transactions Ratio of Balance">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput placeholder="Days in a year">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<b>Dormancy Rules</b>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row form-horizontal">
            <div class="example-container col-md-5">
                <mat-checkbox>
                    <h5>Enforce Dormancy Rules</h5>
                </mat-checkbox>
                <br/>
                <mat-form-field>
                    <input matInput placeholder="Dormant Period (Days)">
                </mat-form-field>
            </div>

            <div class="example-container col-md-5 col-md-offset-2">
                <mat-form-field>
                    <input matInput placeholder="Inoperative Period (Days)">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput placeholder="Escheat Period (Days)">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>