<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>New Product
      <sub class="pull-right">Page {{activeTab}} of 3</sub>
    </h4>

  </div>

  <div class="panel-body">
    <mat-tab-group>
      <mat-tab label="Basic Information" *ngIf="activeTab == 1">
        <product-info-basic (validityChange)="childFormValid = $event"></product-info-basic>
      </mat-tab>
      <mat-tab label="Rules" *ngIf="activeTab == 2">
        <product-info-rules></product-info-rules>
      </mat-tab>
      <mat-tab label="Others" *ngIf="activeTab == 3">
        <product-info-others></product-info-others>
      </mat-tab>
    </mat-tab-group>

    <ul class="pager">
      <li>
        <button *ngIf="activeTab > 1" class="btn btn-md btn-primary" routerLink="/productform" routerLinkActive="active" (click)="activeTab = activeTab - 1">
          <i class="glyphicon glyphicon-arrow-left"></i>
        </button>
      </li>
      <li>
        <button *ngIf="activeTab < 3" [disabled]="!childFormValid" class="btn btn-md btn-primary" routerLink="/productform" routerLinkActive="active" (click)="activeTab = activeTab + 1">
          <i class="glyphicon glyphicon-arrow-right"></i>
        </button>
      </li>
      <li>
          <button *ngIf="activeTab == 3" class="btn btn-md btn-primary" routerLink="/productlist" routerLinkActive="active" (click)="activeTab = activeTab + 1">    
            <i class="glyphicon glyphicon-floppy-disk"></i>
          </button>
        </li>
        <mat-error *ngIf="!childFormValid">Please fill up the required field(s).</mat-error>
    </ul>
  </div>
</div>