<!--<sidenav-demo></sidenav-demo> -->
<div class="container-fluid">
  <mat-toolbar class="toolbar">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
  </mat-toolbar>
  <div class="panel panel-default">
    <div class="panel-body">
      <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" opened="true" class="main-sidebar sidebar" role="navigation">
          <ul class="nav nav-sidebar">
            <!-- <li>
              <a href="#">Dashboard
              </a>
            </li>
            <li> <a data-toggle="collapse" href="#collapse1">Products</a>
              <span class="sr-only">(current)</span>
            </li>
            <li>
              <a href="#">Reports</a>
            </li>
            <li>
              <a href="#">GI Account</a>
            </li>
            <li>
                <a href="#">CIF</a>
            </li> -->
            <li *ngFor="let n of menuList" (click)="select(n.name);" [ngClass]="{active: isActive(n.name)}">
              <a><span class={{n.icon}} aria-hidden="true"></span> {{n.name}}
                  <span *ngIf="n.hasOwnProperty('subMenu')" class="caret"></span>
              </a>
              <ul style="display:none;">
                <li *ngFor="let child of n.subMenu" (click)="select(n.name);" [ngClass]="{active: isActive(child.name)}">
                  <a class="submenu" routerLink={{child.link}} routerLinkActive="active">{{child.name}}
                      <span *ngIf="child.hasOwnProperty('subMenu')" class="caret"></span>
                      <br/>
                  </a>
                 
                </li>
              </ul>
            </li>
          </ul>
        </mat-sidenav>

        <div class="col-md-12">
          <br>
          <router-outlet></router-outlet>
          <br/>
        </div>
      </mat-sidenav-container>
    </div>
  </div>

</div>